@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enjoy Simple Recipes!</h1>
    <p>Check out our most recent recipes below, or all of our recipes by clicking on the <a asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a> link above.</p>
</div>
