@model WebRecipes.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create Recipe</h1>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- Contents and Image are both managed by the Quill Editor bridge script. -->
                <small>(Feel free to paste or drag-n-drop images)</small>
                <div id="quill"></div>
                <input asp-for="Contents" type="hidden" id="quillInput" class="form-control" />
                <input asp-for="Image" type="hidden" id="quillImage" class="form-control" />
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Styles {
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/quill/quill.min.js"></script>
    <script src="~/js/quillCompat.js"></script>
}
